/*=============================
	01. Background CSS Start
===============================*/
.primary-bg {
  background: var(--bs-primary-color);
}
.secondary-bg {
  background: var(--bs-secondary-color);
}
.gray-bg {
  background: var(--bs-background-color);
}
