/*=============================
	03. Heading  CSS Start
===============================*/

.heading-one {
  color: var(--bs-black-color);
  font-size: 80px;
  font-weight: 900;
  line-height: 80px;
}
.heading-two {
  color: var(--bs-black-color);
  font-size: 59.766px;
  font-weight: 700;
  line-height: 57.6px;
  letter-spacing: -1.2px;
}
.heading-three {
  color: var(--bs-black-color);
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}
.heading-four {
  color: var(--bs-black-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 29.9px;
}
.heading-four {
  color: var(--bs-black-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1.2px;
}
.heading-six {
  color: var(--bs-black-color);
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1.2px;
}
