/*=============================
	03. Spacing  CSS Start
===============================*/

/* Custom margin padding */
.pb-15 {
  padding-bottom: 15px;
}
.pt-30 {
  padding-top: 20px;
}

.py-30 {
  padding: 30px 0;
}
.pt-120 {
  padding-top: 120px;
}
.pb-60 {
  padding-bottom: 60px;
}

.br-20 {
  border-radius: 20px;
}
